* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #d9e1e8;
}

header {
    background-color: #0f2f57;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 15px 40px;
    background-color: #0a3161;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 70px;
}

.logo h1 {
    font-size: 28px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    background: #8b1010;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background: #a31616;
}

.titulo-pagina {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.intro {
    width: 80%;
    margin: auto;
    font-size: 17px;
}

.intro p {
    line-height: 1.7;
}

.secao {
    width: 85%;
    margin: 60px auto;
}

.secao h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.conteudo {
    display: flex;
    gap: 25px;
}

.imagem {
    width: 48%;
    border-radius: 12px;
}

ul {
    width: 48%;
    line-height: 1.8;
}

li strong {
    font-weight: 700;
}