* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/15/a6/71/9c.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    width: 100%;
    padding: 15px 40px;
    background-color: #0a3161;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 70px;
}

.logo h1 {
    font-size: 28px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    background: #8b1010;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background: #a31616;
}

.cadastro-container {
    width: 55%;
    margin: 60px auto;
    background: #022b57;
    padding: 40px;
    border-radius: 60px;
    display: flex;
    gap: 50px;
    color: white;
}

fieldset {
    border: none;
}

.formulario {
    width: 60%;
}

legend {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.botao {
    width: 50%;
    padding: 15px;
    background: #b50000;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.statua {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statua img {
    width: 80%;
}
